# Approach
1. Clean data
2. Split with customer with solar panels not installed with Zonneplan (category_1) and the others (category_2)
3. For category_2: 
    * set pv to 0 when NaN
    * consumption = p1 + pv
4. For category_1:
    * infer pv_forecast: average the pv of category_2 at a given time --> pv_avg
    * infer the consumption of category_1: consumption = p1 + pv_avg
5. Train the data
6. Test the model
    * Infer the consumption of each household
    * Compare with the results by comparing to p1

# Libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from matplotlib import pyplot as plt

# Load Data

In [2]:
contracts = pd.read_csv('datafiles_assignment_data_scientist/contracten_database_table.csv', sep = ';')
data = pd.read_json('datafiles_assignment_data_scientist/actual_values.json')
forecast_values = pd.read_json('datafiles_assignment_data_scientist/forecast_values.json')
weather_actual = pd.read_json('datafiles_assignment_data_scientist/weather_actual.json')
weather_forecast = pd.read_json('datafiles_assignment_data_scientist/weather_forecast.json')
prices = pd.read_json('datafiles_assignment_data_scientist/price_epex.json')

# Data Preprocessing
## Data cleaning
Remove outliers using threshold defined in EDA.

In [3]:
# remove outlier
threshold = 5*10e3
data = data[(data.p1_actual_kwh > -threshold) & (data.p1_actual_kwh < threshold)].copy()

## Split: with solar panels from/not from Zonneplan

In [4]:
# Set of contract_id having solar panels with Zonneplan (based of pv_actual_kwh)
pv_w_zp_contract = set(data[~data['pv_actual_kwh'].isnull()]['contract_id'])

# (Inferred) Set of contract_id having solar panel not with Zonneplan
# To do so, we assume that contract_id with p1_actual_kwh < 0 have solar panels
customer_w_pv = set(data[data['p1_actual_kwh'] < 0]['contract_id'])
pv_wo_zp_contract = customer_w_pv - pv_w_zp_contract

## Handling of missing values
Set to 0 Nan of p1_actual_kwh

In [5]:
data['pv_actual_kwh'] = data['pv_actual_kwh'].replace(np.nan, 0)

## Add features

In [6]:
data['hour'] = data.timestamp.dt.hour

In [7]:
# price
prices.set_index('timestamp', inplace= True)

In [8]:
data['price'] = data.apply(lambda row : prices.loc[row['timestamp']][0], axis = 1)

### Split: Training and Test

In [9]:
date_split = data.timestamp.min() + timedelta(days=20)

In [10]:
train_data = data[data.timestamp < date_split].copy()
test_data = data[data.timestamp >= date_split].copy()

In [11]:
# Remove pv_actual_kwh and p1_actual_kwh from test
#test_data.drop(['p1_actual_kwh', 'pv_actual_kwh'], axis = 1, inplace = True)

## Feature selection

Consumption:
* for customers with solar panels installed by Zonneplan: p1_actual_kwh + pv_actual_kwh (or pv_forecast_kwh for test data)
* for customers with solar panels not installed by Zonneplan: get the averaged pv_actual_kwh/pv_forecast_kwh an add it to the p1_actual_pwh

In [12]:
# Deduce consumption
train_data['consumption'] = train_data.apply(lambda row : row['p1_actual_kwh'] + row['pv_actual_kwh'], axis = 1)

In [13]:
train_data.drop(['pv_actual_kwh', 'p1_actual_kwh', 'pv_forecast_kwh', 'timestamp'], axis = 1, inplace = True)

In [14]:
train_data.head()

     contract_id  hour  price  consumption
768       105587     0  0.307         67.0
769       105587     0  0.307         78.0
770       105587     0  0.307         59.0
771       105587     0  0.307         60.0
772       105587     1  0.303         84.0

# Training Forecast using Random Forest

# Test

# Forecast period January 1 to 7